* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    height: 400dvh;
}

body {
    scroll-behavior: smooth;
    font-family: lato, sans-serif;
    background: #ffffff;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto;
    transform: translateY(-25px);
    height: auto;
}

/* body animation */
.reveal { 
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s ease-out;
}
.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

@keyframes slideDown {
    0% {
        transform: translateY(-25px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Navbar Styles */
#navbar {
   padding: 1rem 7rem;
    height: 9vh;
    position: sticky;   
    top: 0;
    z-index: 1000;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}


#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 300ms ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.35 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}



.oahu-logo {
   width: 118px;
    height: 34px;
    opacity: 1;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    padding-top: 2rem;
    font-weight: 500;
}


.left-nav {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.left-nav a, .right-nav a {
    text-decoration: none;
    color: #000000;
}

.left-nav a:hover, .right-nav a:hover {
    text-decoration: underline;
    text-underline-offset: 9px;
    transition: all 0.3s ease-in-out;
    color: #0a5d0f;
}

.right-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 22px;
}

.menu-bar {
    height: 20px;
    width: auto;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.lct-bar {
    display: flex;
    align-items: center;
    gap: 5px;
    width: auto;
    height: auto;
}

/* home */
@keyframes breathe {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.09);
    }
    100% {
        transform: scale(1.0);
    }
}

.breathe {
    animation: breathe 3.5s ease-in-out infinite;
}


#home {
    height: 55vh;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0rem 10rem 1rem 10rem;
    gap: 3rem;
}

span {
    color: #0b682e;
}

.home-text-container {
    width: 684px;
    height: 272px;
    opacity: 1;
   display: flex;
   flex-direction: column;
   gap: 36px;
}

.home-text-1 {
   font-family: Geist;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 64px;
    line-height: 58px;
    letter-spacing: 0%;
    width: 694px;
    height: 146px;
    opacity: 1;
}

.home-text-2 {
    font-family: Geist;
    font-weight: 400;
    font-style: Medium;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0%;
    width: 632px;
    height: 92px;
    padding-bottom: 1rem;
}

.btn-container {
   display: flex;
   gap: 20px;
   
}

.phone-img {
    width: 14px;
    height: 14px;
    opacity: 1;
    border: 1.5px;
}

.home-phone-btn {
   width: 225px;
    height: 44px;
    opacity: 1;
    gap: 4px;
    border-radius: 40px;
    padding-top: 9px;
    padding-right: 24px;
    padding-bottom: 11px;
    padding-left: 24px;
    background: linear-gradient(#f3f3f3, #e0e0e0);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.home-phone-btn:hover {
    background: linear-gradient(#e0e0e0, #d0d0d0);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.home-btn {
  font-family: Geist;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    height: 45px;
    width: 135px;
    border-radius: 40px;
    background: linear-gradient( #137140, #387b52);
    color: #ffffff;
    border: none;
}

.home-btn:hover {
    background: linear-gradient(#0f5d49, #0a5d0f);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.delicious-food {
    width: 690px;
    height: 460px;
    opacity: 1;
  
}

.varieties-of-food {
    width: 1441px;
    height: 316.466552734375px;
    opacity: 1;
    top: 15px;
    gap: 208px;
    display: block;
    margin: 0 auto;
}

/* popular foods */

.popular-meal {
    height: 70vh;
}

.popular-meal-title {
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
    padding: 1rem;
}

.meal-text {
    width: 345px;
    height: 66px;
    opacity: 1;
    text-align: center;
}

.popular-meal-img {
    width: 355px;
    height: 255px;
    opacity: 1;
    padding-bottom: 1rem;
}

.popular-meal-name {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #000000;
}

.meal-cards {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: scale(1.0);
}

.meal-cards:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.meal-container {
    display: flex;
    gap: 8rem;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}   

/* order section */

.order-section {
    background: url(images/bus.png);
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.order-text-1 {
    width: 442px;
    height: 40px;
    opacity: 1;
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    margin: 0 auto;
}

.order-text-2 {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: center;
   width: 319px;
    height: 96px;
    opacity: 1;
      margin: 0 auto;
}

.order-text-3 {
    font-weight: 700;
    font-style: Medium;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
    width: 212px;
    height: 32px;
    opacity: 1;
  margin: 0 auto;
}

/* location */


#location {
    padding: 4rem 10rem 0 10rem;
    background: #ffffff;
}

.location-container {
    height: 70vh;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 8rem;
}

.location-title {
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
    padding-bottom: 1.5rem;
}

.map-location {
    width: 637px;
    height: 453px;
    opacity: 1;
    border-radius: 24px;
    transform: scale(1.0);
}

.map-location:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.location-add-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 4rem;
    gap: 2rem;
}

.location-add-small {
    width: 183px;
    height: 48px;
    opacity: 1;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    padding-top: 0.5rem;
}

.location-add {
     width: 183px;
    height: 32px;
    opacity: 1;
    font-weight: 600;
    font-style: Medium;
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0%;

}

/* review section */
#review {
    background: #ffffff;
    height: auto;
    width: auto;
    padding: 1rem 0 4rem 0;
}

.review-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 5rem 1.5rem 5rem;
}

.review-big-text {
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
    padding-top: 3rem;
    padding-bottom: 1rem;
}

.review-small-text {
    width: 600px;
    height: 48px;
    opacity: 1;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 1.5rem;
}

.review-customer-image {
   width: 321px;
    height: 162px;
    opacity: 1;
    gap: 10px;
    border-radius: 12px;
    padding: 10px;
}

.customer-name {
    font-family: Geist;
    font-weight: 500;
    font-style: Medium;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0%;
}

.customer-occupation {
    font-family: Geist;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

.see-more {
    width: 160px;
    height: 44px;
    opacity: 1;
    border-radius: 40px;
    background: linear-gradient( #137140, #387b52);
    color: #ffffff;
    border: none;
    display: block;
    margin: 30px auto 0 auto;
}

.see-more:hover {
    background: linear-gradient(#0f5d49, #0a5d0f);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* footer */
#footer {
    background-image: url(images/Footer-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 622px;
    width: auto;
    color: #ffffff;
}

.footer-text-1 {
    font-weight: 500;
    font-style: Medium;
    font-size: 35px;
    line-height: 32px;
    letter-spacing: 0%;
    height: 32px;
    opacity: 1;
    text-align: center;
    margin-top: -11rem;
}

.footer-input {
    width: 400px;
    height: 48px;
    opacity: 1;
    border-radius: 20px;
    border: none;
    padding: 0 1rem;
    font-size: 16px;
    outline: none;
}

.footer-input-container:focus-within {
    transform: scale(1.02);
    box-shadow: 0 15px 40px rgba(108, 92, 231, 0.15);
    transition: all 0.3s ease-in-out;
}

.footer-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto 0 auto;
    width: 460px;
    padding: 0px 0px 0px 5px;
    background: #ffffff;
    border-radius: 10px;
    transform: scale(1.0);
}

.footer-btn {
    width: 180px;
    height: 60px;
    opacity: 1;
    border-radius: 10px;
    background: linear-gradient( #137140, #387b52);
    color: #ffffff;
    border: none;
}

.footer-logo {
    width: 150px;
    height: auto;
    opacity: 1;
    filter: invert(0.5);
}

.footer-quote {
    width: 195px;
    height: 120px;
    opacity: 1;
    font-family: Geist;
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
}

.footer-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-top: 1rem;
}

.social-icon {
    opacity: 1;
    padding: 10px;
    width: 30px;
    height: 30px;
    filter: invert(1);
    transform: scale(1.0);
}
.social-icon:hover {
    transform: scale(1.2);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.first-footer-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.footer-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 4rem 5rem 1.5rem 5rem;
}

.footer-heading {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #ffffff;
    padding-bottom: 1rem;
}

.footer-link {
    font-weight: 200;
    font-size: 17px;
    color: #ffffff;
    padding-bottom: 0.5rem;
    text-decoration: none;
    text-underline-offset: none;
    border-bottom: none;
    transform: scale(1.0);
}
.footer-link:hover {
    text-decoration: underline;
    text-underline-offset: 6px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}

.footer-link-small {
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #ffffff;
    padding-bottom: 0.5rem;
}

.second-footer-card {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.third-footer-card {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.fourth-footer-card {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.footer-rights {
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0%;
    color: #ffffff;
    text-align: center;
    margin-top: 2rem;
}