* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Lato, sans-serif;
    background-image: url(../images/fried-chicken-mixed-with-vegetables.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    color: #000000;
    line-height: 1.6;
    height: 100vh;
}

/* Utility Classes */

.intro-heading {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: #0a5d0f;
}

.intro-paragraph {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.intro-content {
    padding: 2rem;
}

/* join-club Section */
#join-club-form {
    max-width: 500px;
    margin: 0 auto;
    padding: 3rem;
}

@keyframes breathe {
    0%, 100% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.04);
    }
}
.breathe {
    animation: breathe 2.5s ease-in-out infinite;
}

.form-input {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    width: 100%;
    height: 2rem;
    padding: 1rem;
    border-radius: 12px;
    border: none;
    background: #e0e0e0;
    transform: scale(1.0);
    transition: all 0.3s ease;
}
.form-input:focus {
    outline: none;
    box-shadow: 0 8px 15px rgb(120, 119, 119);
    border: none;
    transform: scale(1.1);
}

.form-label {
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.join-heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
}

.join-section {
    margin-bottom: 1.5rem;
}

.home-btn {
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    height: 45px;
    width: 135px;
    border-radius: 40px;
    background: linear-gradient( #137140, #387b52);
    color: #ffffff;
    border: none;
    margin-top: 2rem;
}

.home-btn:hover {
    background: linear-gradient(#0f5d49, #0a5d0f);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.login-link {
   display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding-bottom: 3rem;
}

.log-in {
    color: #929090;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
}
.log-in:hover {
    text-decoration: underline;
    text-underline-offset: 1rem;
    color: #0f5d49;
    cursor: pointer;
}

.login-heading {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.5rem;
}