@media screen and (min-width: 300px) and (max-width: 1200px) {
    #navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        padding: 1rem;
    }
    .home-link {
        font-size: 17px;
        margin-top: -15px;
    }
    section {
        margin-bottom: 0;
    }
    .container {
        padding: 20px;
    }
    .media-display {
        display: none;
    }
    
}