@media screen and (min-width: 300px) and (max-width: 1200px) {
    #navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        padding: 1rem;
    }
    .home-link {
        font-size: 17px;
        margin-top: -15px;
    }
    section {
        margin-bottom: 0;
    }
    .container {
        padding: 20px;
    }
    .media-display {
        display: none;
    }
    .menu-header {
        font-size: 20px;
    }
    .menu-items-container {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-auto-rows: dense;
    }
   .menu-item-card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 8px 24px rgba(102, 113, 105, 0.8);
        padding: 2rem 1rem ;
        border-radius: 24px;
        transform: scale(1.0);
        background: linear-gradient(135deg, #4e4d4d, #6d6c6c, #467a37);
        color: #ffffff;
        width: auto;
        margin: 0 auto;
    }
    .menu-item-card:hover {
        cursor: pointer;
        transform: scale(1.03);
        transition: all 0.3s ease-in-out;
    }
    .menu-item-description {
        font-size: 18px;
        margin-bottom: 1rem;
        width: 320px;
        text-align: center;
    }

}

@media screen and (min-width: 300px) and (max-width: 600px) {
     #navbar {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        padding: 1rem;
    }
    .home-link {
        font-size: 17px;
        margin-top: -15px;
    }
    section {
        margin-bottom: 0;
    }
    .container {
        padding: 20px;
    }
    .media-display {
        display: none;
    }
    .menu-header {
        font-size: 20px;
    }
    .menu-items-container {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-auto-rows: dense;
    }
   .menu-item-card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 8px 24px rgba(102, 113, 105, 0.8);
        padding: 2rem 2rem ;
        border-radius: 24px;
        transform: scale(1.0);
        background: linear-gradient(135deg, #4e4d4d, #6d6c6c, #467a37);
        color: #ffffff;
        width: auto;
        margin: 0 auto;
    }
    .menu-item-card:hover {
        cursor: pointer;
        transform: scale(1.03);
        transition: all 0.3s ease-in-out;
    }
    .menu-item-description {
        font-size: 15px;
        margin-bottom: 1rem;
        width: 230px;
        text-align: center;
    }
    .link-display {
        display: none;
    }
}

