* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Lato, sans-serif;
    background: #f5f5f5;
    color: #333333;
}

.reveal { 
    opacity: 0;
    transform: translateY(40px);
    transition: all 0.7s ease-out;
}
.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.menu-logo-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Additional styles... */
#menu {
    padding: 2rem;
    background: linear-gradient(#fefffe, #bab8b8);
}

.link-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 0 0 1.5rem 0;
}


.home-link {
    font-size: 20px;
    color: #333333;
    text-decoration: none;
}
.home-link:hover {
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    transition: all 0.2s ease-in-out;
    color: #137140;
}

.menu-header {
    font-size: 2rem;
    margin-bottom: 3rem;
}   

.menu-items-container {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    grid-auto-rows: dense;
}

.menu-item-card {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   align-items: center;
   justify-content: center;
   box-shadow: 0px 8px 24px rgba(102, 113, 105, 0.8);
   padding: 2rem 0 2rem 0;
   border-radius: 24px;
   transform: scale(1.0);
   background: linear-gradient(135deg, #4e4d4d, #6d6c6c, #467a37);
   color: #ffffff;
}
.menu-item-card:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
}

.menu-item-img {
   width: 250px;
   height: 150px;
}

.menu-item-name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.menu-item-description {
    font-size: 1rem;
    margin-bottom: 1rem;
    width: 360px;
    text-align: center;
}

.order-price {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.menu-item-price {
    font-size: 1.5rem;
    font-weight: bold;
}

.order-btn {
   background: linear-gradient( #137140, #387b52);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.order-btn:hover {
      background: linear-gradient(#0f5d49, #0a5d0f);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}